* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  background-color: #4a69bd;
  color: #666;
}

nav {
  font-family: "Redressed", cursive;
  font-size: 16px;
}
nav.nav-a ol li {
  display: inline-block;
}

nav.nav-a ol {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  margin-left: 70%;
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(12, 117, 112);
}

/* Nav */

h1.name {
  font-family: "Redressed", cursive;
  text-align: center;
  color: white;
  font-size: 70px;
}

.cover_letter {
  text-align: center;
  color: white;
  font-family: "Redressed", cursive;
  font-size: 25px;
}

h2 {
  font-family: "Redressed", cursive;
  color: white;
}
/* Skills */
.anchor {
  display: block;
  height: 400px; /*same height as header*/
  margin-top: -400px; /*same height as header*/
  visibility: hidden;
}

ol.skills {
  list-style: none;
  text-decoration: none;
  color: white;
}
.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("https://images.unsplash.com/photo-1533106497176-45ae19e68ba2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  min-height: 100%;
}
.pimg2 {
  background-image: url("https://images.unsplash.com/photo-1468971050039-be99497410af?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80");
  min-height: 500px;
  background-color: #4a69bd;
}
.pimg3 {
  background-image: url("https://images.unsplash.com/photo-1581891774905-a620d9ef73e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
  min-height: 500px;
}
.pimg4 {
  background-image: url("https://images.unsplash.com/photo-1511512578047-dfb367046420?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
  min-height: 500px;
}

.section.section-dark {
  text-align: center;
  padding: 50px 80px;
  color: #ddd;
  background-color: #4a69bd;
}
/* projects */
img {
  height: 105px;
  max-width: 100%;
}

#project_header {
  padding: 50px 80px;
  text-align: center;
}
.slider-container {
  height: 70%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #4a69bd;
}

input {
  visibility: hidden;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #4a69bd;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.menu label:hover {
  background-color: rgb(12, 117, 112);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: auto;
  background-repeat: no-repeat;

  transition: left 0s 0.75s;
}
.slide:hover {
  opacity: 0.8;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.slide-1 {
  background-image: url(/images/Apple.png);
  background-position: 50% 50%;
}
.slide-2 {
  background-image: url(/images/Contacts.png);
  background-position: 50% 50%;
}
.slide-3 {
  background-image: url(/images/Olentables.png);
  background-position: 50% 50%;
}
.slide-4 {
  background-image: url(/images/ColorGenerator.png);
  background-position: 50% 50%;
}
.slide-5 {
  background-image: url(/images/Glowing\ Ring\ Loader.png);
  background-position: 50% 50%;
}
.slide-6 {
  background-image: url(/images/Analog\ Clock.png);
  background-position: 60% 30%;
}
/* Footer */

.footer {
  background-color: #353b48;
  min-height: 20px;
}
